.navlink{
    align-items: center;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left:80px;
    text-decoration:none;
    font-size: 20px;
    font-family: Roboto;
    color: white;
}