.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", san-serif;
}

.subtitle{
    font-size: 25px;
    border: 5px solid rgb(238, 11, 11);
    box-shadow: 4px 4px 2px rgb(30, 1, 77);
    padding: 5px 10px;
    color:black;
}

.quizInfo{
    width: 100%;
    text-transform: uppercase;
    margin: 10px;
}
    
    

